.App-header h2 {
  border-bottom: 5px solid yellow;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font-size: 15px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

/* .label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
} */
